.bg-banner {
    background-color: #f6f6f6;
}

/* Optional: if you want to make the semi-circle more precise */
.semi-circle {
    background: #FFD166;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 130px;
    transform: rotate(45deg);
    z-index: 1;
    opacity: 0.9;
}


.banner-img {
    position: absolute;
    top: 10px;
    left: -90px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-about-btn-icon {
    margin-left: -18px;
}

.home-about-btn {
    padding: 6px 22px;
}

.about-call {
    margin-bottom: 6px;
}

.bg-course {
    background-image: url('/home/course-bg1.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.theme-heading h6 {
    color: #c10007 !important;
}

.course-title {
    font-size: 23px !important;
    text-transform: capitalize;
}

.step-heading {
    font-size: 36px !important;
}

.step-title {
    font-size: 20px !important;
}

.step-content {
    font-size: 16px !important;
}

.professional-bg {
    background-image: url('/home/cta-3-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-box1 .vs-circless {
    width: auto;
    height: auto;
    --circle-bg: var(--theme-color2);
    padding: 60px;
}

.vs-circless {
    display: block;
    width: var(--circle-size, 600px);
    height: var(--circle-size, 600px);
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: linear-gradient(var(--circle-angle, -60deg), var(--circle-bg, #2F2552) var(--circle-count, 55%), transparent var(--circle-count, 55%));
    border-radius: 50%;
}

.content-professional h2 {
    font-size: 36px !important;
}

.blog-bg {
    background-image: url('/home/hero-bg-5.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-margin {
    margin-bottom: 0 !important;
}

.vs-circless {
    width: 550px !important;
    height: 550px !important;
}

.home-banner-img {
    width: 550px !important;
    height: 550px !important;
}

.home-ct-color p {
    color: #fff !important;
}

.student-sub-title {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: rgb(73, 73, 73);
}

.student-title {
    font-size: 36px !important;
}

.name-card:hover .name-text {
    color: #fff;
}

.name-text {
    font-size: 26px !important;
}